@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

.rouxinha {
width: 670px;
padding: 10px;
font-family: Zeyada;
font-size: 26px;
text-align: center;
color: #e8dd63;
background-color:#000000;
margin-bottom:-19px;}

.andyb {
width:130px;
height:90px;
border-top: 1px solid #000000;
border-left: 1px solid #000000;
border-right: 1px solid #e8dd63;
border-bottom: 1px solid #e8dd63;
transition:all 1s ease;padding:10px} 

.andyb:hover {
border-top: 1px solid #e8dd63;
border-left: 1px solid #e8dd63;
border-right: 1px solid #000000;
border-bottom: 1px solid #000000;
transition:all 1s ease;}
