@import url('https://fonts.googleapis.com/css2?family=Acme&family=Hi+Melody&display=swap');

#w1
{font-family:Century Gothic;
font-size:32px;
text-align:center;
color:#0EB8B8;text-shadow:1px 1px #000;
position:center;
margin-bottom:-15px;}

#w2
{width:115px;
height:100px;
padding:4px 0px 0px 4px;
border-top:1px solid #186e4c;
border-left:1px solid #0EB8B8;}

#w3
{width:124px;
font-size:12px;
text-transform:uppercase;
font-family:Acme;
color:#186e4c;
text-align:center;
position:relative;
-moz-transform:rotate(90deg);
-webkit-transform:rotate(90deg);
margin-right:-58px;
margin-left:-56px;}

#w4
{width:115px;
height:100px;
padding:0px 4px 4px 0px;
border-bottom:1px solid #186e4c;
border-right:1px solid #0EB8B8;}

#w5
{width:100px;
height:100px;
padding:4px;
border:1px solid #0EB8B8;}
